<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SportsTak Tests" verbose="2" annotations="JDK">
     <listeners>
          <listener class-name="assignment.indiatoday.base.utils.listener.CustomTestngListener" />
     </listeners>
     <test name="Assignment" preserve-order="true">
          <classes>
               <class name="assignment.indiatoday.SportsTakTest" />
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->